{:lein {:profile "+cljs"}
 :dev-http {8000 "resources/public"}
 :nrepl {:port 9000}
 :builds {:app {:target :browser
                :output-dir "resources/public/js"
                :asset-path "/js"
                :modules {:app {:init-fn health-patient.app/init}}
                :compiler-options {:optimizations :none}
                :build-hooks [(stylo.shadow/reload "resources/public/css/app.css")]}}}
